<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
  <h1>ProductApp</h1>
<form method="post" action="/upload" enctype="multipart/form-data">
Name :<br>
<input type="text" name="Name">
</br>
Experience :<br>
<input type="text" name="Experience">
</br>
Adress :<br>
<input type="text" name="Adress">
</br>
Email :<br>
<input type="text" name="Email">
</br>
Description :<br>
<input type="text" name="Description">
</br><br>
upload docx file :<br>
<input type="file" name="upfile" value="">

<br></br>
<input type="submit" value="submit">
</form>
</div>
</body>
</html>
