<!DOCTYPE html>
<html>
<body>
  <div style="margin-left:40%">
    <h1>ProductApp</h1>
    <form method="post" action="/dashboard" enctype="multipart/form-data">
        <label style="font-weight: bold;">Name       :</label>    <input type="text" name="Name"><br><br>
        <label style="font-weight: bold;">Experience :</label>    <input type="text" name="Experience"><br><br>
        <label style="font-weight: bold;">Adress     :</label>    <input type="text" name="Adress"><br><br>
        <label style="font-weight: bold;">Email      :</label>    <input type="text" name="Email"><br><br>
        <label style="font-weight: bold;"><span>Description:</span></label>    <textarea  name="Description" rows="5" cols="20"></textarea> <br><br>
        upload docx file : <input type="file" name="upfile" value=""><br><br>
        <input type="submit" value="submit">
    </form>
  </div>
</body>
</html>
