<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Augray help brands to get more engagements by bringing together big ideas, rich content, and cutting edge AR technology to conceptualize personal experiences.">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title><%- title %></title>

  <link rel="canonical" href="https://augray.com/solutions" />

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/css/solutions.min.css">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T626QQV');</script>
  <!-- End Google Tag Manager -->
  <style>
  @media only screen and (min-width: 1200px){
    .media-container {
        min-height: 560px;
    }
  }
  </style>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T626QQV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <% include ../partials/header.html %>

  <section class="section-container first-section" id="page-banner">
    <div class="banner-wrapper">
      <div class="media-container image-overlay" style="background-size: 100% 100%;"></div>

      <div class="banner-container" style="display:none">
        <h1>Solutions <br /><span class="small">Tell me, I’ll forget<br /> Show me, I’ll remember<br /> Involve me, I’ll understand</span></h1>

        <div class="description"></div>
      </div>
    </div>
  </section>

  <section class="section-container" id="page-banner">
    <div class="banner-wrapper">
      <div class=" image-overlay" style="background-size: 100% 100%;"></div>
    </div>
  </section>

  <section class="section-container solutions-section" id="redefine-solutions">
    <div class="container solutions-wrapper redefine-wrapper">
      <div class="solutions-content-wrapper">
        <div class="header">
          <h3>Redefine Your Brand</h3>
        </div>

        <div class="solutions-container" id="redefine-brand-container">
          <div class="solution-item-container active" id="product-visualization">
            <div class="solution-content">
              <div class="media-item video-overlay">
                <!-- <img src="/videos/solutions/solution-product-visualization.jpg" class="solution-img" alt="product visualization" /> -->
                <div class="solutions-img"></div>

                <video poster="/videos/solutions/solution-product-visualization.jpg" class="video-player solutions-video" loop playsinline id="video-product-visualization">
                  <source src="https://s3-us-west-2.amazonaws.com/augray-website/solution-product-visualization.mp4" type="video/mp4" />
                </video>

                <img src="/images/icon-play.png" class="play-button" alt="Play Video" />
              </div>

              <div class="product-info">
                <div class="header">
                  <h1>Product Visualization</h1>

                  <div class="short description">Enable product exploration, from automobiles, electronics to real estate</div>
                </div>

                <div class="long description">Futuristic shoppers may test models, styles and textures of products. A motorcycle enthusiast can now bring alive a 3D view from a magazine ad, obsess every detail and angle of a new model.</div>
              </div>
            </div>
          </div>

          <div class="solution-item-container" id="exciting-engagements">
            <div class="solution-content">
              <div class="media-item video-overlay">
                <!-- <img src="/videos/solutions/solution-exciting-engagements.jpg" class="solution-img" alt="exciting engagements" /> -->
                <div class="solutions-img"></div>

                <video poster="/videos/solutions/solution-exciting-engagements.jpg" class="video-player solutions-video" loop playsinline id="video-exciting-engagements">
                  <source src="https://s3-us-west-2.amazonaws.com/augray-website/solution-exciting-engagements.mp4" type="video/mp4" />
                </video>

                <img src="/images/icon-play.png" class="play-button" alt="Play Video" />
              </div>

              <div class="product-info">
                <div class="header">
                  <h1>Exciting Engagements</h1>

                  <div class="short description">Win over consumers with interactive and fun-filled activities</div>
                </div>

                <div class="long description">Engage consumers by bringing to life print media advertisements. Sponsor thrilling experiences like playing football virtually with your favourite stars and taking a selfie together. Leverage the ultimate retention platform with AR games powered by brand sponsored rewards.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrows-container">
          <div class="arrow right"></div>
          <div class="arrow left"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-container solutions-section" id="magnify-solutions">
    <div class="container solutions-wrapper magnify-wrapper">
      <div class="solutions-content-wrapper">
        <div class="header">
          <h3>Magnify Your Sales</h3>
        </div>

        <div class="solutions-container" id="magnify-sales-container">
          <div class="solution-item-container active" id="xr-aided-retail">
            <div class="solution-content">
              <div class="media-item video-overlay">
                <!-- <img src="/videos/solutions/solution-xr-aided-retail.jpg" class="solution-img" alt="xr aided retail" /> -->
                <div class="solutions-img"></div>

                <video poster="/videos/solutions/solution-xr-aided-retail.jpg" class="video-player solutions-video" loop playsinline id="video-xr-aided-retail">
                  <source src="https://s3-us-west-2.amazonaws.com/augray-website/solution-xr-aided-retail.mp4" type="video/mp4" />
                </video>

                <img src="/images/icon-play.png" class="play-button" alt="Play Video" />
              </div>

              <div class="product-info">
                <div class="header">
                  <h1><div class="non-br">AR-Aided</div> Retail</h1>

                  <div class="short description">Make shopping a thrill for your customers and close every sale.</div>
                </div>

                <div class="long description">Unlock a world of rich and immersive in-store retailing where customers can view/ match/ customize products virtually. Convert sales and build trust with customers by augmenting specifications, nutritional information, ratings/ reviews and more.</div>
              </div>
            </div>
          </div>

          <div class="solution-item-container" id="online-product-fit">
            <div class="solution-content">
              <div class="media-item video-overlay">
                <!-- <img src="/videos/solutions/solutions-online-product-fit.jpg" class="solution-img" alt="online product fit" /> -->
                <div class="solutions-img"></div>

                <video poster="/videos/solutions/solutions-online-product-fit.jpg" class="video-player solutions-video" loop playsinline id="video-online-product-fit">
                  <source src="https://s3-us-west-2.amazonaws.com/augray-website/solutions-online-product-fit.mp4" type="video/mp4" />
                </video>

                <img src="/images/icon-play.png" class="play-button" alt="Play Video" />
              </div>

              <div class="product-info">
                <div class="header">
                  <h1>Online <div class="non-br">Product Fit</div></h1>

                  <div class="short description">Blend e-commerce with a thrilling and interactive shopping experience.</div>
                </div>

                <div class="long description">Enable customers to see real form and fit even when buying online. Whether it is to configure a couch set at home or preview different colours/ designs of watches on the wrist before purchase, consumers get timely point of sales insights.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrows-container">
          <div class="arrow right"></div>
          <div class="arrow left"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-container solutions-section" id="reimagine-solutions">
    <div class="container solutions-wrapper reimagine-wrapper">
      <div class="solutions-content-wrapper">
        <div class="header">
          <h3>Reimagine Your World</h3>
        </div>

        <div class="solutions-container" id="reimagine-world-container">
          <div class="solution-item-container active" id="wandervr">
            <div class="solution-content">
              <div class="media-item video-overlay">
                <!-- <img src="/videos/solutions/solution-wander-vr.jpg" class="solution-img" alt="wandervr" /> -->
                <div class="solutions-img"></div>

                <!-- <video poster="/videos/solutions/solution-wander-vr.jpg" class="video-player solutions-video" loop playsinline id="video-wandervr">
                  <source src="/videos/solutions/product-visualization.mp4" type="video/mp4" />
                </video> -->

                <img src="/images/icon-play.png" class="play-button" alt="Play Video" />
              </div>

              <div class="product-info">
                <div class="header">
                  <h1>WanderVR<!-- <sup>TM</sup> --></h1>

                  <div class="short description">Transform travel experiences from drawing rooms to destinations</div>
                </div>

                <div class="long description">Create virtual tours for destinations, hotels, attractions and enable travellers to plan. Augment monuments in the location with visual insights. Augray’s WanderVR<!-- <sup>TM</sup> --> powers destination exploration in a portable and vivid way.</div>
              </div>
            </div>
          </div>

          <div class="solution-item-container" id="virtual-buddy">
            <div class="solution-content">
              <div class="media-item video-overlay">
                <!-- <img src="/videos/solutions/solution-page-virtual-buddy.jpg" class="solution-img" alt="virtual buddy" /> -->
                <div class="solutions-img"></div>

                <video poster="/videos/solutions/solution-virtual-buddy.jpg" class="video-player solutions-video" loop playsinline id="video-virtual-buddy">
                  <source src="https://s3-us-west-2.amazonaws.com/augray-website/solution-virtual-buddy.mp4" type="video/mp4" />
                </video>

                <img src="/images/icon-play.png" class="play-button" alt="Play Video" />
              </div>

              <div class="product-info">
                <div class="header">
                  <h1><div class="non-br">Virtual Buddy</div></h1>

                  <div class="short description">Create an emotional affinity with your brand through Virtual Buddy</div>
                </div>

                <div class="long description">Present your very own branded virtual buddy to customers. It can be taken home, trained and will be capable of tons of animations as it grows. Virtual buddies will greet their owners when they return to retail businesses / restaurants. Augray’s PlayAR<!-- <sup>TM</sup> --> platform helps you to reward customers in-game, at retail points and expands game levels to keep them coming back to your outlet.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="arrows-container">
          <div class="arrow right"></div>
          <div class="arrow left"></div>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer.html %>

  <script type="text/javascript">
  WebFontConfig = {
    google: { families: ['Ubuntu:300,400,500,700', 'Open Sans:400,600,700'] }
  };

  (function(d) {
    var wf = d.createElement('script'), s = d.scripts[0];
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    wf.type = 'text/javascript';
    wf.async = true;
    s.parentNode.insertBefore(wf, s);
  })(document);
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8" defer></script>

  <script src="/js/jquery.lazy.event.js" charset="utf-8" defer></script>

  <script src="/js/common.min.js" charset="utf-8" defer></script>
  <script src="/js/solutions.min.js" charset="utf-8" defer></script>
</body>
</html>
